html,body{
    font-family: 'Righteous', cursive;
}

#joinus img{
    width: 100%;
    height: 100px;
}
#login ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111111;

}
#login ul li {
    float: left;

}
#login ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid white;

}
#login ul li a:hover {
    background-color: rgba(26, 47, 6, 0.61);

}
.active{
    background-color:  red;
}
.comm{
    float:right;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(rgba(124, 139, 150, 0.61),cadetblue);
}

#nav ul li {
    float: left;

}

#nav ul li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    border-right: 1px solid white;
    padding: 14px 16px;
    border-bottom: 1px solid #888;
}


#nav ul li a:hover {
    background-color: #111;
}
#container{
    width: 100%;
    margin: 0 auto;
    display: block;
    height: 100%;
}
#container_fluid{
    float: left;
    width: 100%;
    height: 100%;
}
#main{
    width: 64%;
    float: left;
    padding: 30px;
    background: linear-gradient(rgba(124, 139, 150, 0.61),cadetblue);
    height: 100%;



}
.img{
    width: 100%;
    height: 400px;
    border: 3px solid rgba(143, 150, 143, 0.61);
    border-radius: 15px;

}
#block{
    overflow: hidden;
}

#sidebar{
    height: 100%;
    width: 31%;
    float: right;
    background: linear-gradient(rgba(124, 139, 150, 0.61),cadetblue);

}
.c{
    border-radius: 20px;
    width: 100%;
    height: 150px;
    float: left;
}
.p{
    float: right;
    padding-left: 5px;
}
#form{
    width: 98%;
    padding-left: 8px;
    padding-top: 8px;
}
.input{
    width: 96%;
    padding-right: -7px;
    border-radius: 10px;
    border: 2px solid black;
    height: 30px;
    font-family: 'Righteous', cursive;
    font-size: 15px;
    color: #888888;
    box-shadow: 10px 10px 5px #888888;

}
.contact{
    text-align: center;
    background: linear-gradient(rgba(124, 139, 150, 0.61),cadetblue);
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
#footer{
    background: linear-gradient(rgba(124, 139, 150, 0.61),cadetblue);
    clear: both;
    height: 100px;
    text-align: center;
    padding-top: 30px;
font-weight: bolder;
font-size: 20px;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 225px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}



#comments input[type=text],textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#comments input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#comments input[type=submit]:hover {
    background-color: #45a049;
}

#comments{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.table{
border-collapse: collapse;
    width: 100%;
}

.table th, td {
padding: 8px;
text-align: left;
border-bottom: 1px solid #ddd;
}

.table tr:hover{background-color:#f5f5f5}
.container {
    position: relative;
    width: 50%;
}

.image {
    display: block;
    width: 100%;
    height: 300px;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #ffffff;
    opacity: 0.6;
    filter: alpha(opacity=60);
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
}

.container:hover .overlay {
    bottom: 0;
    height: 100%;
}

.text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#slideShow{
    width: 100%;
    border-radius: 8px;
    height: 450px;
    margin: 0 auto;
    position: relative;
}
#slideShow .slideImages{
    width: 100%;
    height: 450px;
    position: absolute;
    border-radius: 8px;
    border: 1px solid black;


}
#slideShow .btn{
    position: absolute;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    top: 200px;
    background: cadetblue;
    color: white;
    font-size: 20px;
}
#slideShow #btn1:hover{
    background: rgba(113, 255, 209, 0.61);
}
#slideShow #btn2:hover{
    background: rgba(113, 255, 209, 0.61);
}
#slideShow #btn2{
    position: relative;
    float: right;

}